{% extends "../base.html" %}

{% block title %}{{ object }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
        #mensural-svg {
          width: 100%;
          height: 300px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }
    </style>

{% endblock %}

{% block content %}
    <section id="main">
        <div class="inner">
            <header>
                <h2>{{ object.fullname }}</h2>
            </header>
<h3>{{ object.composerfull }}</h3>
        <section id="content">
    <div>
        <!--<img src="{% url 'composition-svg' object.pk %}"> -->
        <div id="mensural-svg"></div>
    </div>
            <a href="#" onClick="MIDIjs.play('{% url 'composition-midi' object.pk %}');"><i class="fa fa-play" aria-hidden="true"></i></a>
            <a href="#" onClick="MIDIjs.stop();"><i class="fa fa-stop" aria-hidden="true"></i></a><br>

    </section>
        {% if object.spotify_link %}
        <section>
            <div>
                <iframe src="{{ object.spotify_link }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </section>
        {% endif %}

<b>Primary manuscript source for this transcription</b>
<br>
            <b>{{ object.main_source }}</b>
{% if folios %}
, fol(s). {% for folio in folios %}{{ folio.folio_number }} {{ forloop.last|yesno:",&#44;"|safe }} {% endfor %}
    {% comment %} This weird syntax is for getting rid of the trailing comma{% endcomment %}
{% endif %}
<br>
{% if object.main_source.diamm_source %}
    <a href="{{ object.main_source.diamm_source }} " target="_blank">Detailed information on this manuscript source</a>
    <br>
{% endif %}
{% if object.main_source.iiif_manifest %}
    <a href="{% url 'composition-iiif' object.pk %}" target="_blank">Manuscript Image of Source</a>
    <br>
{% endif %}

{% if conc_sources %}
    <b>Concordant Sources</b>
    <br>
{% for source in conc_sources %}
    {{ source.source }}{{ forloop.last|yesno:",&#44;"|safe }}
{% endfor %}
</ul>
    <br>
{% endif %}

<b>Previous Edition(s)</b><br>
            {{ object.edition }}
<br>


<b>Downloads</b>
<ul style="list-style: none; padding: 0; margin: 0">
    {% if object.mens_mei_file %}
        <a href="{{ object.mens_mei_file.url }}"><li>MEI-MENS (Mensural notation version)</li></a>
        <a href="{% url 'composition-svg' object.pk %}" target="_blank"><li>SVG</li></a>
    {% endif %}

    {% if object.cmn_mei_file %}
        <a href="{{ object.cmn_mei_file.url }}"><li>MEI-CMN (Standard notation version)</li></a>
        <a href="{% url 'composition-midi' object.pk %}" target="_blank"><li>MIDI</li></a>

    {% endif %}


</ul>


            <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
    // Using leaflet.js to pan and zoom a big image.
    // See also: http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html
    // create the slippy map
    var map = L.map('mensural-svg', {
      minZoom: 0.5,
      maxZoom: 3,
      center: [0, 0],
      zoom: 0.5,
      crs: L.CRS.Simple
    });
    // dimensions of the image
    var w = {{ width }},
        h = {{ height }},
        url = '{% url 'composition-svg' object.pk %}';
    // calculate the edges of the image, in coordinate space
    var southWest = map.unproject([0, h], map.getMaxZoom()-1);
    var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
    var bounds = new L.LatLngBounds(southWest, northEast);
    // add the image overlay,
    // so that it covers the entire map
    L.imageOverlay(url, bounds).addTo(map);
    // tell leaflet that the map is exactly as big as the image
    map.setMaxBounds(bounds);
    </script>


</div>
    </section>
{% endblock %}