{% extends "../base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <section id="main">
        <div class="inner">
            <header>
                <h2>{{ object.fullname }}</h2>
            </header>
<h3>{{ object.composerfull }}</h3>
<b>Primary Source for this transcription</b>
<br>
            <b>{{ object.main_source }}</b>
{% if folios %}
, fol(s). {% for folio in folios %}{{ folio.folio_number }}, {% endfor %}
{% endif %}
<br>
{% if object.main_source.diamm_source %}
    <a href="{{ object.main_source.diamm_source }} " target="_blank">Information about source</a>
    <br>
{% endif %}
{% if object.main_source.iiif_manifest %}
    <a href="{% url 'composition-iiif' object.pk %}" target="_blank">Manuscript Image of Source</a>
    <br>
{% endif %}

{% if conc_sources %}
    <b>Concordant Sources</b>
    <br>
{% for source in conc_sources %}
    {{ source.source }},
{% endfor %}
</ul>
    <br>
{% endif %}

<b>Edition(s)</b><br>
            {{ object.edition }}
<br>


<b>Downloads</b>
<ul style="list-style: none; padding: 0; margin: 0">
    {% if object.mens_mei_file %}
        <a href="{{ object.mens_mei_file.url }}"><li>Mensural MEI</li></a>
    {% endif %}

    {% if object.cmn_mei_file %}
        <a href="{{ object.cmn_mei_file.url }}"><li>Common MEI</li></a>
    {% endif %}

</ul>

</div>
    </section>

    <section id="content">
    <div>{{ svg|safe }}</div>
    </section>
{% endblock %}