
{% extends "../base.html" %}
{% block title %}Composition List{% endblock %}

{% block content %}
    <section id="one">
    <div class="inner">
    <header>
        <h2>List of Compositions</h2>
    </header>
    <p>Click on the table headers to sort them</p>
    </div>
    </section>
    <section>
        <div class="table-wrapper inner">
        <table class="alt sortable">
            <thead>
                        <tr>
                            <th>Triplum</th>
                            <th>Motetus</th>
                            <th>Tenor</th>
                            <th>Composer</th>
                        </tr>
                    </thead>
                    <tbody>
            {% for composition in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'composition-detail' composition.pk %}">{{ composition.triplum_incipit }}</a>
                        </td>
                        <td>{{ composition.motetus_incipit }}</td>
                        <td>{{ composition.tenor_incipit }}</td>
                        <td>{{ composition.composer.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
